/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/* start of styling */

body {
    background-color: #F5F2F2;

    color: #494949;
    font-family: Arial Rounded MT;
}

.div-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

/* head bar */
.head-bar {
    position: fixed;
    top: 0%;
    width: 100%;
    height: 7vh;
    background-color: #ED87A4;
    z-index: 1;
    display: table;
}

.menu-icon {
    position: absolute;
    background-color: transparent;
    top: 25%;
}

.menu-icon img {
    width: 4vh;
}

#burgerIcon,
#backArrow {
    left: 3vmax;
}

#backArrow {
    top: 30%;
}

#backArrow img {
    width: 3vh;
}


#searchIcon {
    right: 3vmax;
}

.pc-icon-set {
    display: none;
}

.site-name {
    vertical-align: middle;
    display: table-cell;
    width: 100%;
    height: 20%;

    font-size: 3vh;
    color: #fff;
    text-align: center;
    z-index: 2;
}

/* side nav bar */
#side-nav {
    display: none;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    width: 70vw;

    background-color: #ED87A4;

    z-index: 3;
}

#side-nav a {
    display: block;
    margin-left: 2vmax;
    color: #fff;
    text-decoration: none;
}

#closeIcon,
.phone-icon-set {
    display: block;
    margin-left: 2vmax;
}

.phone-icon-set {
    margin-top: 1vmax;
}

.phone-icon-set>* {
    vertical-align: middle;
}

#closeIcon img {
    width: 5vmax;
    margin-top: 2vmax;
}

.phone-icon-set img {
    width: 6vmax;
    margin-right: 1vmax;
}

.phone-icon-set h3 {
    display: inline-block;
    font-size: 2vmax;
}

.menu-1 {
    font-size: 2vmax;
    line-height: 5.5vmax;
}

#side-nav .menu-2 {
    margin-left: 6vmax;
    line-height: 4.5vmax;

    font-size: 1.8vmax;
    color: #494949;
}



/* book list title block */
.title-block {
    display: flex;
    justify-content: center;
}

.title {
    display: inline-block;

    height: 5vmax;
    margin-top: 5vmax;
    padding-left: 5vmax;
    padding-right: 5vmax;
    background-color: #FAD066;

    font-size: 2vmax;
    color: #494949;
    line-height: 5vmax;

    border-radius: 2vmax;
}

/* make everything display in the same line and hide overflow elements */
.book-row {
    white-space: nowrap;
    overflow-x: hidden;
    padding-bottom: 1vmax;
    margin-left: 2vmax;
}

.go-arrow {
    display: none;
}

.book-block {
    display: inline-block;
    white-space: normal;

    margin-top: 3vmax;
    margin-left: 1vmax;
    height: 35vmax;
    width: 19vmax;
    background-color: #fff;

    text-align: center;

    border-radius: 2vmax;
}

.book-image {
    height: 20vmax;
    margin: 1vmax auto 1vmax auto;
}

.book-title {
    height: 5vmax;
    width: 16vmax;
    margin-left: auto;
    margin-right: auto;

    line-height: 2.2vmax;
    font-size: 1.5vmax;
}

.author {
    color: #707070;
    font-size: 1.3vmax;
}

.book-bottom-block {
    display: flex;
    margin-top: 1.8vmax;
}

.price {
    margin-left: 2vmax;
    margin-right: auto;

    font-size: 1.5vmax;
    line-height: 3vmax;
    color: #FE7D7D;
}

.cart-icon img {
    margin-left: auto;
    margin-right: 2vmax;
    width: 3vmax;
}

/* footer */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;

    width: 100%;
    margin-top: 3vmax;
    padding-top: 3vmax;
    padding-bottom: 2vmax;
    background-color: #FAD066;

    font-size: 1.5vmax;
    line-height: 3vmax;

    border-radius: 2vmax 2vmax 0 0;
}

.foot-sec {
    /* margin-top: 3vmax; */
    margin-left: 2vmax;
}

#sec1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

#sec2 {
    grid-row: 1/2;
    grid-column: 2/3;
}

#sec3 {
    grid-row: 2/3;
    grid-column: 1/2;
}

#sec4 {
    grid-row: 2/3;
    grid-column: 2/3;
}

#sec5 {
    grid-row: 3/4;
    grid-column: 1/3;
}

.foot-icons {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-top: 5.5vmax;
}


.foot-icons img {
    display: inline-block;

    width: 3vmax;
    margin-right: 3vmax;
    margin-top: 1vmax;
}

/* common breakpoint for medium size screen */
@media screen and (min-width: 768pt) {

    /* head bar */
    #burgerIcon {
        display: none;
    }

    .head-bar {
        height: 8vh;
    }

    .menu-icon {
        top: 25%;
    }

    .menu-icon img {
        width: 5vh;
    }

    #searchIcon {
        right: 20vmax;
    }

    .site-name {
        font-size: 3vh;
    }

    .pc-icon-set {
        display: block;
    }

    #storeIcon {
        right: 15vmax;
    }

    #cartIcon {
        right: 10vmax;
    }

    #profileIcon {
        right: 5vmax;
    }

    /* side nav bar */
    #side-nav {
        display: block;
        position: fixed;
        top: 15%;
        /* bottom: 5%; */
        left: 3%;

        width: 15vw;
        height: 37vw;
        padding-top: 1vmax;
        padding-bottom: 1vmax;
        background-color: #FFF6F8;

        z-index: 3;
        border-radius: 1vmax;
        /* border: #494949; */
    }

    #side-nav .phone-icon-set {
        display: none;
    }

    #side-nav #closeIcon {
        display: none;
    }

    #side-nav a {
        color: #494949;
    }

    .menu-1 {
        font-size: 0.8vmax;
        line-height: 3vmax;
    }

    #side-nav .menu-2 {
        margin-left: 4vmax;
        line-height: 2.5vmax;

        font-size: 0.7vmax;
    }

    #side-nav #menu-item1 {
        color: #FE7D7D !important;
    }

    /* leave space for side nav bar */
    .main-body {
        margin-left: 16vw;
    }

    /* change book block size */
    .title {
        height: 3vmax;
        margin-top: 3vmax;
        padding-left: 3vmax;
        padding-right: 3vmax;

        font-size: 1.3vmax;
        line-height: 3vmax;

        border-radius: 1vmax;
    }

    .book-row {
        padding-bottom: 1vmax;
        margin-left: 2vmax;
    }

    .book-row>* {
        vertical-align: middle;
    }

    .go-arrow {
        display: inline-block;
        margin-left: 2vmax;
    }

    .go-arrow img {
        width: 4vmax;
    }

    .book-block {
        margin-top: 2.5vmax;
        margin-left: 2vmax;
        height: 20vmax;
        width: 11vmax;

        border-radius: 1vmax;
    }

    .book-image {
        height: 10vmax;
        margin: 1vmax auto 0.5vmax auto;
    }

    .book-title {
        height: 3.5vmax;
        width: 10vmax;
        margin-left: auto;
        margin-right: auto;

        line-height: 1.5vmax;
        font-size: 0.9vmax;
    }

    .author {
        font-size: 0.7vmax;
    }

    .book-bottom-block {
        display: flex;
        margin-top: 1.3vmax;
    }

    .price {
        margin-left: 2vmax;
        margin-right: auto;

        font-size: 1vmax;
        line-height: 2vmax;
        color: #FE7D7D;
    }

    .cart-icon img {
        margin-left: auto;
        margin-right: 2vmax;
        width: 2vmax;
    }

    /* change footer layout*/
    .footer {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        margin-top: 2vmax;
        padding-top: 2vmax;
        padding-bottom: 1vmax;

        font-size: 1vmax;
        line-height: 2vmax;

        border-radius: 2vmax 2vmax 0 0;
    }

    .foot-sec {
        margin-left: 2vmax;
    }

    #sec1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    #sec2 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    #sec3 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    #sec4 {
        grid-row: 1/2;
        grid-column: 4/5;
    }

    #sec5 {
        grid-row: 1/2;
        grid-column: 5/6;

        width: 15vmax;
        margin-top: 3vmax;

        font-size: 0.8vmax;
    }

    .foot-icons {
        margin-top: 0;
        grid-row: 1/2;
        grid-column: 5/6;
    }

    .foot-icons img {
        display: inline-block;

        width: 2vmax;
        margin-right: 3vmax;
        margin-top: 0;
    }

}