#breadNav {
    margin: 10vh auto 3vh 2vh;
    font-size: 2.2vh;
    color: #F49555;
}

.book-detail-block {
    position: relative;
    height: 30vmax;
    width: 100%;
    margin-bottom: 2vh;
    background-color: #fff;
    border-radius: 1vh;
}

.book-detailed-image {
    float: left;
    margin: 2vh 5%;

    width: 16vmax;
}

.book-info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.cart-title {
    margin-bottom: 1vh;
    padding-top: 2vh;
    width: 82%;
    height: 10vmax;
    font-size: 2vmax;
    line-height: 3vmax;
}


.book-info {
    font-size: 1.6vmax;
    font-family: Georgia;
    line-height: 2vmax;
}

.info2 {
    display: none;
}

.cross {
    display: none;
}

.change-number {
    position: absolute;
    right: 5%;
    bottom: 8%;
    width: 10vmax;
}

.cart-price {
    position: absolute;
    top: 5%;
    right: 5%;
    margin-left: 0%;
    font-size: 2.5vmax;
    color: #FE7D7D;
}

.gift-wrap {
    padding-left: 5%;
    height: 5vh;
    line-height: 5vh;
    font-size: 1.5vmax;
    background-color: #fff;
    border-radius: 1vh;
}


.gift-wrap input {
    margin-right: 3%;
}

.subtotal {
    margin-top: 2vh;
    padding: 1.5vh 5%;
    height: 10vh;

    background-color: #fff;
    border-radius: 1vh;
}

.subtotal span {
    font-size: 3vmax;
    font-family: sitka text;
}

.subtotal-price {
    color: #FE7D7D;
}

.sub-info-holder {
    display: flex;
}


.subtotal-price {
    margin-left: auto;
}

.checkout-button {
    margin: 2vh 0;
    text-align: center;
    line-height: 5vh;
    color: #494949;
    font-size: 2.5vmax;
    height: 5vh;
    background-color: #FAD066;
    border-radius: 1vmax;
}

.book-class {
    display: none;
}


@media screen and (min-width: 768pt) {
    #breadNav {
        margin-left: 6vw;
    }

    .main-body {
        position: relative;
        margin-top: 15vh;
        margin-left: 16vw;
        margin-right: 3vw;
    }

    .book-detail-block {
        height: 12vmax;
        width: 60%;
        margin-left: 6vw;
        margin-bottom: 2vh;
        background-color: #fff;
        border-radius: 1vh;
    }

    .book-detailed-image {
        margin: 2vh 3%;

        width: 6vmax;
    }

    .book-info {
        width: 90%;
        margin-left: 0;
    }

    .cart-title {
        margin-bottom: 1vh;
        padding-top: 2vh;
        height: 2vmax;
        font-size: 1vmax;
        line-height: 2vmax;
    }

    .book-info {
        font-size: 0.8vmax;
        font-family: Georgia;
        line-height: 1.3vmax;
    }

    #condition {
        margin-top: 1vh;
    }

    .info2 {
        display: block;
    }

    .change-number {
        right: 8%;
        width: 6vmax;
    }

    .cart-price {
        right: 10%;
        margin-left: 0%;
        font-size: 1.5vmax;
    }

    .cross {
        position: absolute;
        top: 8%;
        right: 3%;
        display: block;
    }

    .cross img {
        width: 1.2vmax;
    }

    .gift-wrap {
        margin-left: 6vw;
        padding-left: 3%;
        height: 5vh;
        line-height: 5vh;
        width: 57%;
        font-size: 0.8vmax;
    }

    .gift-wrap input {
        margin-right: 3%;
    }

    .subtotal {
        position: absolute;
        right: 0;
        top: 20%;
        width: 25%;
        margin-top: 2vh;
        padding: 1.5vh 2%;
        height: 10vh;
    }

    .subtotal span {
        font-size: 1.5vmax;
    }

    .checkout-button {
        line-height: 5vh;
        color: #494949;
        font-size: 1.5vmax;
        height: 5vh;
        border-radius: 0.5vmax;
    }

    .book-class {
        display: block;
    }

}