.login-body {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    width: 85%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.login-title {
    margin: 3vh auto;
    font-size: 2.2vh;
    color: #F49555;
}

.input-item {
    font-size: 2vmax;
    margin-top: 3vh;
    margin-bottom: 0.5vh;
}

.group-holder input {
    width: 100%;
    height: 5vh;
    border-radius: 1vmax;
}

.forget {
    font-size: 1.5vh;
    margin-top: 1vh;
    margin-bottom: 8vh;
}

.login-button {
    margin: 2vh 0;
    text-align: center;
    line-height: 4vh;
    color: #494949;
    font-size: 2vmax;
    height: 4vh;
    background-color: #FAD066;
    border-radius: 1vmax;
}

#signupButton {
    background-color: #FE7D7D;
    color: #fff;
}

.footer {
    position: absolute;
    bottom: 0%;
}

@media screen and (min-width: 768pt) {
    .login-body {
        margin-left: auto;
        margin-right: auto;
        margin-top: 11vh;
        width: 30%;
    }

    .login-title {
        margin: 5vh auto;
        font-size: 1.5vmax;
    }

    .input-item {
        font-size: 1.2vmax;
    }

    .forget {
        font-size: 1.5vh;
        margin-top: 1vh;
        margin-bottom: 8vh;
    }

    .login-button {
        margin: 2vh 0;
        text-align: center;
        line-height: 5vh;
        font-size: 1.5vmax;
        height: 5vh;
    }
}