#backArrow {
    display: none;
}

.book-class {
    display: none;
}

.detail-image {
    float: right;
    margin-top: 10vh;
    margin-right: 4vw;
    margin-left: 2vw;
}

.detail-image img {
    width: 19vmax;
}

.back-arrow1 img {
    margin-top: 9vh;
    margin-bottom: 1vh;
    width: 5vw;
}

#book-title {
    margin-bottom: 1vh;
    font-size: 2vmax;
    font-family: Arial Rounded MT;
    line-height: 3.5vmax;
}

.brief-info {
    margin-left: 3vmax;
    font-size: 1.6vmax;
    font-family: Georgia;
    line-height: 2vmax;
}

.rating-holder>* {
    vertical-align: middle;
}

.rating-holder img {
    width: 25vw;
}

.rating-holder {
    margin-bottom: 1.5vh;
}

.info2>* {
    vertical-align: middle;
}

.info2 img {
    width: 2vmax;
    margin-right: 2vw;
    margin-bottom: 0.5vh;
}

#condition {
    margin-top: 1.5vh;
}

.detail-price {
    margin-left: 0;
    margin-top: 1.5vh;
    margin-bottom: 3vh;
    color: #FE7D7D;
    font-size: 2.5vmax;
}

.phone-container {
    padding: 2vmax 3vmax;

    background-color: #fff;

    font-family: Sitka Text;
    font-size: 1.7vmax;
    line-height: 2.5vmax;

    border-radius: 1vmax;
}

.phone-container h3 {
    margin-bottom: 1vh;
    font-size: 2.2vmax;
}

.phone-container p {
    margin-bottom: 2vh;
}

.share {
    font-size: 2vmax;
    font-family: Georgia;
    font-weight: 700;
}

.share span {
    margin-right: 2vmax;
}

.share>* {
    vertical-align: middle;
}

.link-iamges img {
    width: 3vmax;
    margin-right: 1vmax;
}

.add-cart {
    margin: 2vh 2vmax;
    text-align: center;
    line-height: 5vh;
    color: #fff;
    font-size: 2.5vmax;
    height: 5vh;
    background-color: #FAD066;
    border-radius: 1vmax;
}

@media screen and (min-width: 768pt) {
    #backArrow {
        display: block;
    }

    .back-arrow1 {
        display: none;
    }

    .book-class {
        display: block;
    }

    .phone-container {
        padding: 1.5vmax 3vmax;
        background-color: transparent;
        box-shadow: none;
        font-size: 1.1vmax;
        line-height: 2vmax;
    }

    .pc-container {
        position: relative;

        margin-top: 15vh;
        margin-left: 5vw;
        margin-right: 5vw;
        background-color: #fff;
        border-radius: 1vmax;
    }

    .phone-container h3 {
        margin-bottom: 1vh;
        font-size: 1.5vmax;
    }

    .detail-image {
        position: absolute;
        margin: 0;
        top: 5%;
        left: 35%;
    }

    #book-title {
        padding-top: 3vh;
        /* margin-bottom: 1vh; */
        width: 30%;
        font-size: 1.5vmax;
        line-height: 3.5vmax;
    }

    .rating-holder {
        margin-bottom: 1vh;
    }

    .rating-holder img {
        width: 8vw;
    }

    .brief-info {
        margin-left: 3vmax;
        font-size: 1vmax;
        line-height: 2vmax;
    }

    .info2 img {
        width: 1.5vmax;
        margin-right: 1vw;
        margin-bottom: 0.5vh;
    }

    .detail-price {
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 3vh;
        position: absolute;
        top: 3%;
        right: 3%;
        font-size: 2.2vmax;
    }

    .discription {
        position: absolute;
        top: 10%;
        left: 63%;
        width: 35%;
    }

    .details {
        font-size: 0.8vmax;
        line-height: 1.2vmax;
    }

    #condition {
        margin-top: 1vh;
    }

    .share {
        font-size: 1.2vmax;
    }

    .share span {
        margin-right: 1vmax;
    }

    .link-iamges img {
        width: 2vmax;
        margin-right: 0.5vmax;
    }

    .add-cart {
        position: absolute;
        bottom: 3%;
        right: 3%;

        line-height: 5vh;
        font-size: 1.5vmax;
        width: 23vw;
        height: 5vh;
        border-radius: 0.8vmax;
    }

}